@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&family=Inter:wght@300;400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 2, 16, 39;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: 'Inter', sans-serif;
}

h1, h2, h3 {
  font-family: 'Space Grotesk', sans-serif;
}

/* Manifold Widget Styling */
.manifold {
  --manifold-theme--color--primary: hsl(295, 100%, 66%);
  --manifold-text--font-family--body: 'Inter', sans-serif;
  --manifold-text--font-family--header: 'Space Grotesk', sans-serif;
  --manifold-text--color--primary: #ffffff;
  --manifold-border--radius: 12px;
  --manifold-page--color--background: #f9f9ff;
}
